.App-title {
  margin-top: 60px;
  text-align: center;
}

.App-container {
  margin: 16px auto 16px auto;
  width: 50%;
  height: auto;
  position: relative;
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.notice {
  text-align: center;
  color: gray;
  font-size: 20px;
  font-weight: 600;
}

.create-task-btn {
  position: relative;
  margin-top: 16px;
  border-style: none;
  padding: 8px;
  border-radius: 4px;
  background-color: #C0C0BE;
  color: black;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.Task-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.Task-input{
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid silver;
}

.Task-input:focus {
  border: 1px solid gray;
  color:black;
  line-height: 25px;
  font-weight: 600;
  padding: 2px;
  font-size: 16px;
  outline: none;
}

.Task-submit {
  margin-left: 8px;
  background-color: #0095f6;
  border-style: none;
  border-radius: 4px;
  padding: 10px 14px 10px 14px;
  font-size: 16px;
  color:white;
  font-weight: 600;
  cursor: pointer;
}